#include <winres.h>
#include "wezdeskres.h"

STRINGTABLE DISCARDABLE
	LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
	IDS_CLOCK_DATEFORMAT "ddd, dd. MMM"
	IDS_LAUNCH_APP "Anwendung starten"
	IDS_SHUTDOWN_MENU_CAPTION "Beenden..."
	IDS_CONFIGURATION_MENU_CAPTION "Anpassen"
	IDS_LAUNCH_TASK_MANAGER "Task-Manager"
	IDS_OPEN_MY_DOCUMENTS_MENU "Dokumente"
	IDS_OPEN_ALL_PROGRAMS_MENU "Startmen\374"
	IDS_SHOW_DESKTOP_PROPERTIES "Anzeige"
	IDS_EXPLORE_QUICKLAUNCH "Schnellstartleiste"
	IDS_EXPLORE_START_MENU "Startmen\374"
	IDS_EXPLORE_ALL_USERS_START_MENU "Startmen\374 aller Benutzer"
	IDS_SHOW_CONTROL_PANEL "Systemsteuerung"
	IDS_SHOW_NETWORK_CONNECTIONS "Netzwerke"
	IDS_SHOW_SYSTEM_PROPERTIES "System"
	IDS_SHOW_ADD_REMOVE_PROGRAMS "Software"
	IDS_SHOW_MANAGE_COMPUTER "Computerverwaltung"
	IDS_SHOW_TIME_DATE "Datum und Uhrzeit"
	IDS_PERFORM_SUSPEND "Standby"
	IDS_QUERY_SUSPEND "Den Rechner wirklich in den Standby-Modus versetzen?"
	IDS_PERFORM_HIBERNATE "Ruhezustand"
	IDS_QUERY_HIBERNATE "Den Rechner wirklich in den Ruhezustand versetzen?"
	IDS_PERFORM_SHUTDOWN "Herunterfahren"
	IDS_QUERY_SHUTDOWN "Den Rechner wirklich herunterfahren?"
	IDS_PERFORM_REBOOT "Neustart"
	IDS_QUERY_REBOOT "Den Rechner wirklich neustarten?"
	IDS_PERFORM_LOGOFF "Abmelden"
	IDS_QUERY_LOGOFF "Wirklich abmelden?"
	IDS_PERFORM_SHELL_RESTART "Shell neustarten"
	IDS_QUERY_SHELL_RESTART "Wirklich die Shell neustarten?"
	IDS_PERFORM_SHELL_EXIT "Shell verlassen"
	IDS_QUERY_SHELL_EXIT "Wirklich die Shell verlassen?"
	IDS_SHOW_ICON_PROPERTIES "Eigenschaften"
	IDS_CLOCK_MAILFORMAT "Mail: %d"
	IDS_PUTTY_NEW_SESSION "Neue Sitzung"
	IDS_TASKSWITCH_WORKSPACE_LABEL "Arbeitsbereich %d"
	IDS_SLIT_CONFIGURATION_MENU "Slit Konfiguration"
	IDS_SLIT_ALIGN_BOTTOM "Ausrichtung unten"
	IDS_SLIT_ALIGN_RIGHT "Ausrichtung rechts"
	IDS_SLIT_ALIGN_TOP "Ausrichtung oben"
	IDS_SLIT_ALIGN_LEFT "Ausrichtung links"
	IDS_MAKE_TRANSPARENT "Transparenz"
	IDS_SLIT_FLOATING "\334berlagerung"
  	IDS_SLIT_AUTO_HIDE "Automatisch im Hintergrund"
  	IDS_LAUNCHER_INSTRUCTION "Geben Sie Programme, Ordner oder Dokumente an, die ge\366ffnet werden sollen."
	IDS_PERFORM_WTS_DISCONNECT "Abmelden von Remote-Verbindung"
	IDS_QUERY_DISCONNECT "Wirklich Wirklich von der Terminalsitzung abmelden?"
	IDS_MOVE_WINDOW_TO_WORKSPACE_1 "Verschiebe dieses Fenster nach Arbeitsbereich 1"
	IDS_MOVE_WINDOW_TO_WORKSPACE_2 "Verschiebe dieses Fenster nach Arbeitsbereich 2"
	IDS_MOVE_WINDOW_TO_WORKSPACE_3 "Verschiebe dieses Fenster nach Arbeitsbereich 3"
	IDS_MOVE_WINDOW_TO_WORKSPACE_4 "Verschiebe dieses Fenster nach Arbeitsbereich 4"

  IDS_SLIT_GRAVITATE_LEFT "Verankerung links"
  IDS_SLIT_GRAVITATE_RIGHT "Verankerung rechts"
  IDS_SLIT_GRAVITATE_TOP "Verankerung oberseite"
  IDS_SLIT_GRAVITATE_BOTTOM "Verankerung unterseite"
  IDS_SLIT_GRAVITATE_MIDDLE "Verankerung mitte"

END

