#include <winres.h>
#include "wezdeskres.h"

STRINGTABLE DISCARDABLE
	LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
	IDS_LAUNCH_APP "Launch this application"
	IDS_SHUTDOWN_MENU_CAPTION "Shutdown"
	IDS_CONFIGURATION_MENU_CAPTION "Tweakage"
	IDS_LAUNCH_TASK_MANAGER "Task Manager"
	IDS_OPEN_MY_DOCUMENTS_MENU "My Documents"
	IDS_OPEN_ALL_PROGRAMS_MENU "All Programs"
	IDS_OPEN_PUTTY_MENU "PuTTY"
	IDS_SHOW_DESKTOP_PROPERTIES "Desktop Properties"
	IDS_EXPLORE_QUICKLAUNCH "Open Quicklaunch"
	IDS_EXPLORE_START_MENU "Open Start Menu"
	IDS_EXPLORE_ALL_USERS_START_MENU "Open All Users Start Menu"
	IDS_SHOW_CONTROL_PANEL "Control Panel"
	IDS_SHOW_NETWORK_CONNECTIONS "Network Connections"
	IDS_SHOW_SYSTEM_PROPERTIES "System Properties"
	IDS_SHOW_ADD_REMOVE_PROGRAMS "Add/Remove Programs"
	IDS_SHOW_MANAGE_COMPUTER "Manage Computer"
	IDS_SHOW_TIME_DATE "Change System Time"
	IDS_PERFORM_SUSPEND "Suspend"
	IDS_QUERY_SUSPEND "Really Suspend?"
	IDS_PERFORM_HIBERNATE "Hibernate"
	IDS_QUERY_HIBERNATE "Really Hibernate?"
	IDS_PERFORM_SHUTDOWN "Shutdown"
	IDS_QUERY_SHUTDOWN "Really Shutdown the computer?"
	IDS_PERFORM_REBOOT "Reboot"
	IDS_QUERY_REBOOT "Really reboot the computer?"
	IDS_PERFORM_LOGOFF "Logoff"
	IDS_QUERY_LOGOFF "Really log off?"
	IDS_PERFORM_SHELL_RESTART "Restart Shell"
	IDS_QUERY_SHELL_RESTART "Really restart the shell?"
	IDS_PERFORM_SHELL_EXIT "Quit Shell"
	IDS_QUERY_SHELL_EXIT "Really exit the shell?"
	IDS_MOVE_WINDOW_TO_WORKSPACE_1 "Move this window to Workspace 1"
	IDS_MOVE_WINDOW_TO_WORKSPACE_2 "Move this window to Workspace 2"
	IDS_MOVE_WINDOW_TO_WORKSPACE_3 "Move this window to Workspace 3"
	IDS_MOVE_WINDOW_TO_WORKSPACE_4 "Move this window to Workspace 4"
	IDS_MAKE_STICKY "Sticky (All Workspaces)"
	IDS_MAKE_TRANSPARENT "Transparent"
	IDS_CLOCK_DATEFORMAT "ddd MMM dd"
	IDS_CLOCK_MAILFORMAT "Mail: %d"
	IDS_PUTTY_NEW_SESSION "New Session"
	IDS_TASKSWITCH_WORKSPACE_LABEL "Workspace %d"
	IDS_SLIT_CONFIGURATION_MENU "Slit config"
	IDS_SLIT_ALIGN_BOTTOM "Align bottom"
	IDS_SLIT_ALIGN_RIGHT "Align right"
	IDS_SLIT_ALIGN_TOP "Align top"
	IDS_SLIT_ALIGN_LEFT "Align left"
	IDS_SLIT_GRAVITATE_LEFT "Gravitate left"
	IDS_SLIT_GRAVITATE_RIGHT "Gravitate right"
	IDS_SLIT_GRAVITATE_TOP "Gravitate top"
	IDS_SLIT_GRAVITATE_BOTTOM "Gravitate bottom"
	IDS_SLIT_GRAVITATE_MIDDLE "Gravitate middle"
	IDS_SLIT_FLOATING "Floating"
	IDS_SLIT_AUTO_HIDE "Auto-hide"
	IDS_SHOW_ICON_PROPERTIES "Properties"
	IDS_PERFORM_WTS_DISCONNECT "Disconnect"
	IDS_QUERY_DISCONNECT "Really disconnect from your terminal services session?"
	IDS_LAUNCHER_INSTRUCTION "Type the name of a program, folder or document and hit enter to open it."
END

