/* vim:fileencoding=latin-1:
 */
#include <winres.h>
#include "wezdeskres.h"

STRINGTABLE DISCARDABLE
	LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
BEGIN
	IDS_SHUTDOWN_MENU_CAPTION "Quitter"
	IDS_CONFIGURATION_MENU_CAPTION "Configuration"
	IDS_LAUNCH_TASK_MANAGER "Gestionnaire de Taches"
	IDS_OPEN_MY_DOCUMENTS_MENU "Mes Documents"
	IDS_OPEN_ALL_PROGRAMS_MENU "Tous les programmes"
	IDS_SHOW_DESKTOP_PROPERTIES "Proprietes d'Affichage"
	IDS_EXPLORE_QUICKLAUNCH "Lancement Rapide"
	IDS_EXPLORE_START_MENU "Menu Demarrer"
	IDS_EXPLORE_ALL_USERS_START_MENU "Menu Demarrer (Tous)"
	IDS_SHOW_CONTROL_PANEL "Panneau de Config."
	IDS_SHOW_NETWORK_CONNECTIONS "Connections Reseau"
	IDS_SHOW_SYSTEM_PROPERTIES "Proprietes du Systeme"
	IDS_SHOW_ADD_REMOVE_PROGRAMS "Ajout/Suppr. Programmes"
	IDS_SHOW_MANAGE_COMPUTER "Gestion de l'Ordinateur"
	IDS_SHOW_TIME_DATE "Heure et Date"
	IDS_PERFORM_SUSPEND "Suspendre"
	IDS_QUERY_SUSPEND "Etes vous certain de vouloir Suspendre?"
	IDS_PERFORM_HIBERNATE "Hibernation"
	IDS_QUERY_HIBERNATE "Etes vous certain de vouloir Hiberner?"
	IDS_PERFORM_SHUTDOWN "Eteindre l'ordinateur"
	IDS_QUERY_SHUTDOWN "Etes vous certain de vouloir Eteindre?"
	IDS_PERFORM_REBOOT "Redemarrer"
	IDS_QUERY_REBOOT "Etes vous certain de vouloir Redemarrer?"
	IDS_PERFORM_LOGOFF "Fermer la session"
	IDS_QUERY_LOGOFF "Etes vous certain de vouloir Fermer la Session?"
	IDS_PERFORM_SHELL_RESTART "Redemarrer le shell"
	IDS_QUERY_SHELL_RESTART "Etes vous certain de vouloir Redemarrer le shell?"
	IDS_PERFORM_SHELL_EXIT "Quitter le Shell"
	IDS_QUERY_SHELL_EXIT "Etes vous certain de vouloir Quitter le Shell?"
	IDS_MOVE_WINDOW_TO_WORKSPACE_1 "Deplacer cette fen\352tre dans l'Espace 1"
	IDS_MOVE_WINDOW_TO_WORKSPACE_2 "Deplacer cette fen\352tre dans l'Espace 2"
	IDS_MOVE_WINDOW_TO_WORKSPACE_3 "Deplacer cette fen\352tre dans l'Espace 3"
	IDS_MOVE_WINDOW_TO_WORKSPACE_4 "Deplacer cette fen\352tre dans l'Espace 4"
	IDS_MAKE_STICKY "Sticky (Tous les espaces de travail)"
	IDS_TASKSWITCH_WORKSPACE_LABEL "Espace de Travail %d"
	IDS_SLIT_AUTO_HIDE "Basculant"
	IDS_SLIT_FLOATING "Flottant"
	IDS_SLIT_GRAVITATE_MIDDLE "Gravite centre"
	IDS_SLIT_GRAVITATE_LEFT "Gravite gauche"
	IDS_SLIT_GRAVITATE_RIGHT "Gravite droite"
	IDS_SLIT_GRAVITATE_TOP "Gravite haut"
	IDS_SLIT_GRAVITATE_BOTTOM "Gravite bas"

	IDS_SLIT_ALIGN_BOTTOM "Bas de l'ecran"
	IDS_SLIT_ALIGN_RIGHT  "Droite de l'ecran"
	IDS_SLIT_ALIGN_TOP    "Haut de l'ecran"
	IDS_SLIT_ALIGN_LEFT   "Gauche de l'ecran"
	IDS_SLIT_CONFIGURATION_MENU	 "Panneau"
	IDS_CLOCK_MAILFORMAT "Courrier: %d"
	IDS_CLOCK_DATEFORMAT "ddd dd MMM"

	IDS_LAUNCH_APP "Lancer cette application"
	IDS_MAKE_TRANSPARENT "Transparent"
	IDS_PUTTY_NEW_SESSION "Nouvelle Session"
	IDS_SHOW_ICON_PROPERTIES "Proprietes"
	IDS_PERFORM_WTS_DISCONNECT "Deconnecter"
	IDS_QUERY_DISCONNECT "Voulez-vous vraiment deconnecter?"
	IDS_LAUNCHER_INSTRUCTION "Entrez le nom d'un programme, dossier ou document et tapez entrer pour l'ouvrir:"
END

